body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    margin: 0;
    width: 500px;
    height: 600px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.display-row {
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Display Screen */
.display {
    flex: 1;
    height: 70px;
    border: 2px solid #666;
    padding: 10px 15px;
    font-size: 32px;
    text-align: right;
    box-sizing: border-box;
}

/* Clear button */
.clear-btn {
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Buttons container at the bottom half */
.buttons-container {
    border: 2px solid purple;
    display: flex;
    flex: 1;
}

.numbers {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: center;
}

.numbers button {
    flex-basis: 30%;
    font-size: 24px;
}

.operators {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.operators button {
    flex-basis: 100%;
    font-size: 24px;
}
